@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 1.2rem;
}

/* 스크롤바의 width */
::-webkit-scrollbar-track {
    width: 1.1rem;
    background-color: #fffbf7;
}

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ffc279, #ffc279);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #599e75, #599e75);
}

/* 스크롤바 색 */
::-webkit-scrollbar-button {
    display: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    background-color: #fffbf7;
}

/* 공통 클래스 */
.container {
    position: relative;
    display: block;
    width: 128rem;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.gotop {
    position: fixed;
    left: calc(60% + 57.1rem);
    bottom: 6rem;
    width: 4.4rem;
    height: 6.5rem;
    font-size: 0rem;
    border: 0;
    background: url('../images/gotop.png') no-repeat center;
    z-index: 99;
    cursor: pointer;
}

.gotop:hover {
    /* background-color: red; */
}

.wrap {
    position: relative;
    display: block;
}

/* 상단 영역 */
.header {
    position: fixed;
    left: 0rem;
    top: 0rem;
    display: block;
    width: 100%;
    height: 14%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 999;
}

.header .container {
    height: 100%;
}

.logo {
    position: absolute;
    left: -18rem;
    top: 0rem;
    display: block;
    width: 8.5rem;
    height: 8.5rem;
    background: url('../images/logo.png') no-repeat center;
    font-size: 0;
    padding-right: 2.8rem;
}

.header-menu-icon {
    position: absolute;
    right: -17rem;
    top: 1rem;
    display: block;
    font-size: 5.7rem;
    border: 0;
    background: none;
    color: #cdc4bb;
    cursor: pointer;
}

.header-menu-icon:hover {
    color: #fab66a;
}

.header-menu {
    position: fixed;
    right: 14.3rem;
    top: 7.5rem;
    height: 60%;
    background-color: rgba(125, 125, 125, 0.3);
    box-shadow: 0 0.2rem 0.6rem 0 rgb(0 0 0 / 25%);
    transition: left 0.5s;
    z-index: 9999;
}

.header-menu-active {
    left: 0;
}

.header-close {
    display: block;
    border: none;
    background-color: unset;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-left: 22rem;
    cursor: pointer;
}

.header-close:hover {
    color: #faad58;
}

.header-gnb {
    width: 25rem;
}

.header-gnb li {
    border: 0.1rem solid rgba(128, 128, 128, 0.2);
}

.header-gnb a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.12rem;
    line-height: 6rem;
    color: #717171;
    padding-left: 1rem;
}

.header-gnb a:hover {
    color: #fff;
    background-color: rgba(125, 125, 125, 0.4);
    text-decoration: underline;
    transition: 0.5s;
}

.header-gnb>li:last-child {
    border-bottom: 0;
}

/* Visual */
.visual {
    position: relative;
    display: block;
    height: 97rem;
    background: url('../images/visual_background.jpg') no-repeat center;
    background-size: cover;
}

.visual-img {
    position: absolute;
    left: 28.5rem;
    top: 17.6rem;
}

.visual-img-2 {
    margin-left: -7.3rem;
    margin-bottom: 14rem;
}

.gnb {
    position: relative;
    display: block;
}

.depth1 {
    position: absolute;
    right: -16.5rem;
    top: 48.2rem;
    display: block;
}

.depth1>li {
    position: relative;
    display: block;
}

.depth1>li>a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
}

.depth1>li>a:hover {
    color: #faad58;
}

.depth1>li::before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 20.8rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url('../images/menu_icon1.png') no-repeat center;
}

.depth1>li:hover::before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 20.8rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url('../images/menu_icon2.png') no-repeat center;
}

.scrolldown {
    position: absolute;
    right: -7.7rem;
    top: 85.3rem;
    display: block;
    width: 4.4rem;
    height: 6.5rem;
    background: url('../images/scrolldown.png') no-repeat center;
    border: 0;
}

/* About Me */
.profile {
    position: relative;
    display: block;
}

.profile .container {
    height: 102rem;
}

.profile-tit {
    position: relative;
    display: block;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
    padding: 8rem 0rem;
    z-index: 1;
}

.profile-tit::before {
    content: '';
    position: absolute;
    left: -21rem;
    top: 11.5rem;
    width: 20.6rem;
    height: 0.3rem;
    background: #f9a647;
}

.profile-fir {
    position: relative;
    display: block;
    float: left;
    height: 102rem;
    margin-left: -22rem;
}

.pro-shadow {
    position: absolute;
    left: -31.4rem;
    top: 0rem;
    width: 80rem;
    height: 111.4rem;
    background: url('../images/background_shadow.png') no-repeat;
    background-size: cover;
}

.pro-img {
    position: absolute;
    left: 0rem;
    top: 21rem;
    width: 38rem;
    height: 38rem;
}

.pro-name {
    position: relative;
    display: block;
    padding-top: 64rem;
}

.pro-subtit {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: #52966e;
}

.pro-info {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    line-height: 2.8rem;
    color: #717171;
    padding-top: 0.5rem;
}

.pro-email {
    position: relative;
    display: block;
    padding-top: 4.7rem;
}

.pro-bt {
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    display: block;
    width: 29rem;
    height: 4.9rem;
    font-size: 0rem;
    border: none;
    background: url('../images/portfolio_bt_g.png') no-repeat center;
    cursor: pointer;
}

.pro-bt:hover {
    background: url('../images/portfolio_bt_o.png') no-repeat center;
}

.profile-sec {
    position: relative;
    display: block;
    float: left;
    padding-top: 22rem;
    padding-left: 17.5rem;
}

.pro-edu {
    position: relative;
    display: block;
}

.pro-sec-info {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    line-height: 2.8rem;
    color: #717171;
    padding-top: 2.2rem;
}

.pro-edu-info {
    position: relative;
    display: block;
    padding-top: 1.5rem;
}

.pro-edu-info-2 {
    padding-top: 0rem;
}

.pro-edu-info p {
    float: left;
    vertical-align: top;
}

.pro-edu-info span {
    float: left;
    padding-left: 2rem;
}

.pro-car {
    position: relative;
    display: block;
    padding-top: 4rem;
}

.pro-car-info {
    position: relative;
    display: block;
}

.pro-car-info p {
    float: left;
    vertical-align: top;
}

.pro-car-info span {
    float: left;
    line-height: 4rem;
    margin-top: -0.5rem;
    padding-left: 2rem;
}

.pro-mbti {
    position: relative;
    display: block;
    padding-top: 3.5rem;
}

.pro-mbti-box {
    position: relative;
    display: block;
    width: 33.6rem;
    height: 29rem;
    background: url('../images/mbti_bg.png') no-repeat center;
}

.mbti_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -40%) scale(0.3);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.mbti_img_focus {
    transform: translate(-50%, -41%) scale(1.0);
    opacity: 1;
}

.pro-mbti-txt {
    position: relative;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: -21rem;
    margin-left: 39.5rem;
}

.pro-mbti-txt-tit {
    position: relative;
    display: block;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: #faad58;
}

.pro-mbti-txt-subtit {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #7f7e7e;
}

.pro-mbti-txt-subtit-2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0px;
    color: #7f7e7e;
    padding-top: 1.4rem;
    padding-bottom: 2rem;
}

.pro-mbti-txt-subtit-2 b {
    color: #faad58;
}

.pro-mbti-txt-tag {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 3.7rem;
    color: #7f7e7e;
}

.pro-mbti-txt-tag span {
    color: #52966e;
}

.profile-third {
    position: relative;
    display: block;
    float: left;
    margin-top: -71.9rem;
    padding-left: 69rem;
}

.pro-skill {
    position: relative;
    display: block;
    width: 32rem;
}

.pro-subtit {}

.pro-skill-list {
    position: relative;
    display: block;
    margin-top: 2rem;
}

.pro-skill-list li {
    position: relative;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
    margin-bottom: 2.1rem;
}

.pro-skill-list li .skill-cate {
    display: block;
    width: 15%;
    float: left;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: #717171;
}

.pro-skill-list li .skill-level {
    display: block;
    width: 60%;
    float: right;
    border-radius: 1rem;
    margin-top: 0.8rem;
    overflow: hidden;
}

.skill-list {
    position: relative;
    display: block;
}

#skill_photoshop,
#skill_illust,
#skill_html,
#skill_css,
#skill_js,
#skill_jq {
    position: relative;
    width: 100%;
    height: 10px;
}

.slogan {
    position: relative;
    display: block;
}

.slogan .container {
    height: 102rem;
}

.slogan-img {
    position: absolute;
    top: 11.5rem;
    right: -8rem;
    width: 65.7rem;
    height: 74.3rem;
}

.slogan-txt {
    padding-top: 35.5rem;
}

.slogan-txt-tit {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 5.2rem;
    color: #717171;
}

.slogan-txt-tit p {
    display: inline-block;
    font-size: 5.7rem;
    font-weight: 500;
    letter-spacing: -1rem;
    color: #5eb180;
}

.slogan-txt-tit span {
    font-size: 5.2rem;
    font-weight: 600;
    color: #f99f33;
    padding-left: 1.5rem;
}

.slogan-txt-tit-2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 5.2rem;
    color: #717171;
    padding-top: 1.5rem;
    padding-left: 27.5rem;
}

.slogan-txt-tit-2 span {
    float: left;
    font-size: 5.2rem;
    font-weight: 600;
    color: #f99f33;
}


.slogan-txt-tit-2 p.slogan-out {
    position: absolute;
    left: 43.6rem;
    bottom: 53.1rem;
}

.slogan-name {
    position: absolute;
    left: 27.6rem;
    bottom: 53.1rem;
    width: 0rem;
    height: 6rem;
    overflow: hidden;
    white-space: nowrap;

    transition: width 1.0s;
}

.slogan-name-active {
    width: 16.9rem;
}

.slogan-txt-tit-img {
    position: absolute;
    left: 26.4rem;
    bottom: 53.21rem;
    width: 16.9rem;
    height: 6rem;
}

.slogan-txt-box {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    line-height: 3.2rem;
    color: #898989;
    padding-top: 8.6rem;
}

.slogan-txt-box b {
    color: #f99f33;
}

/* Publishing */
.publishing {
    position: relative;
    display: block;
}

.publishing .container {
    height: 102rem;
}

.pub-tit {
    position: relative;
    display: block;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
    padding: 8rem 0rem;
}

.pub-tit::before {
    content: '';
    position: absolute;
    left: -21rem;
    top: 11.5rem;
    width: 20.6rem;
    height: 0.3rem;
    background: #52966e;
}

.pub-slide {
    position: relative;
    display: block;
}

.sw-pub {
    width: 100%;
    height: 72.4rem;

    /*선택해주세요.*/
    overflow: visible;
}

.pub-img img {
    position: relative;
    display: block;
    float: left;
    width: 72.4rem;
    height: 72.4rem;
    margin-top: 0.1rem;
    margin-left: -11.2rem;
}

.pub-txt {
    position: absolute;
    right: 0rem;
    top: 30rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.pub-txt-tit {
    font-size: 4rem;
    font-weight: 600;
    color: #f9a647;
}

.pub-box {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 5.1rem;
    color: #717171;
    padding-top: 2.5rem;
}

.pub-bt {
    position: relative;
    display: block;
    padding-top: 2.3rem;
}

.pub-bt-ori {
    display: inline-block;
}

.pub-bt-ori a {
    display: inline-block;
    width: 18.2rem;
    height: 4.1rem;
    font-size: 0rem;
    background: url('../images/work_original.png') no-repeat center;
    margin-right: 0.4rem;
}

.pub-bt-ori a:hover {
    background: url('../images/pub_original.png') no-repeat center;
}

.pub-bt-porc {
    display: inline-block;
}

.pub-bt-porc a {
    display: inline-block;
    width: 18.2rem;
    height: 4.1rem;
    font-size: 0rem;
    background: url('../images/work_process.png') no-repeat center;
    margin-right: 0.4rem;
}

.pub-bt-porc a:hover {
    background: url('../images/pub_process.png') no-repeat center;
}

.pub-bt-git {
    display: inline-block;
}

.pub-bt-git a {
    display: inline-block;
    width: 18.2rem;
    height: 4.1rem;
    font-size: 0rem;
    background: url('../images/work_github.png') no-repeat center;
}

.pub-bt-git a:hover {
    background: url('../images/pub_github.png') no-repeat center;
}

/* Redesign */
.redesign {
    position: relative;
    display: block;
}

.redesign .container {
    height: 102rem;
}

.red-tit {
    position: relative;
    display: block;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
    padding: 8rem 0rem;
}

.red-tit::before {
    content: '';
    position: absolute;
    left: -21rem;
    top: 11.5rem;
    width: 20.6rem;
    height: 0.3rem;
    background: #f9a647;
}

.red-slide {
    position: relative;
    display: block;
}

.sw-red {
    width: 100%;
    height: 53rem;
    background-color: #f9f0e3;
}

.sw-red-box {
    position: relative;
    display: block;
    height: 100%;
}

.red-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-red {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.red-info {
    position: relative;
}

.red-txt-top {
    position: relative;
    display: block;
    padding-top: 6.5rem;
    padding-bottom: 23px;
    margin-left: 34.7rem;
}

.red-txt {
    position: relative;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
}

.red-txt-tit {
    float: left;
    font-size: 4rem;
    font-weight: 600;
    color: #f9a647;
    padding-top: 0.95rem;
    margin-right: 3rem;
}

.red-txt-box {
    float: left;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.2rem;
    color: #717171;
    margin-right: 3rem;
}

.red-icon {
    position: relative;
    float: left;
    padding-top: 2.24rem;
}

.red-icon-ps {
    float: left;
    width: 3.8rem;
    height: 3.8rem;
    font-size: 0rem;
    background: url('../images/icon_ps.png') no-repeat center;
    margin-right: 1.3rem;
}

.red-icon-ai {
    float: left;
    width: 3.8rem;
    height: 3.8rem;
    font-size: 0rem;
    background: url('../images/icon_ai.png') no-repeat center;
}


.red-txt-bottom {
    position: relative;
    display: block;
    text-align: center;
}

.red-txt-bottom a {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 18.2rem;
    height: 4.1rem;
}

.red-txt-bottom a:nth-child(1) {
    background: url('../images/work_original.png') no-repeat center;
}

.red-txt-bottom a:nth-child(1):hover {
    background: url('../images/redesign_bt_o.png') no-repeat center;
}

.red-txt-bottom a:nth-child(2) {
    background: url('../images/work_process.png') no-repeat center;
}

.red-txt-bottom a:nth-child(2):hover {
    background: url('../images/redesign_bt_p.png') no-repeat center;
}

.red-txt-bottom a:nth-child(3) {
    background: url('../images/work_redesign.png') no-repeat center;
}

.red-txt-bottom a:nth-child(3):hover {
    background: url('../images/redesign_bt_r.png') no-repeat center;
}


/* Etc. */
.etc {
    position: relative;
    display: block;
}

.etc .container {
    height: 102rem;
}

.etc-tit {
    position: relative;
    display: block;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
    padding: 8rem 0rem;
}

.etc-tit::before {
    content: '';
    position: absolute;
    left: -21rem;
    top: 11.5rem;
    width: 20.6rem;
    height: 0.3rem;
    background: #52966e;
}

/* Epilogue */
.epilogue {
    position: relative;
    display: block;
    background-color: #f6eee3;
}

.epilogue .container {
    height: 130.4rem;
}

.epi-tit {
    position: relative;
    display: block;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
    padding: 8rem 0rem;
}

.epi-tit::before {
    content: '';
    position: absolute;
    left: -21rem;
    top: 11.5rem;
    width: 20.6rem;
    height: 0.3rem;
    background: #52966e;
}

.epi-img {
    position: absolute;
    right: 0rem;
    top: 10rem;
    display: block;
}

.epi-img-tra {
    position: relative;
    display: block;
    float: left;
    margin-top: 22rem;
}

.epi-img-tra img {
    width: 51.2rem;
    height: 84.9rem;
    z-index: 3;
}

.epi-img-con {
    position: relative;
    display: block;
    float: left;
}

.epi-img-con img {
    width: 55.9rem;
    height: 55.9rem;
    margin-top: 11.4rem;
    margin-left: -22.7rem;
    z-index: 2;
}

.epi-img-exhi {
    position: relative;
    display: block;
    float: left;
}

.epi-img-exhi img {
    width: 66.4rem;
    height: 42.9rem;
    margin-top: -9rem;
    margin-left: 10.4rem;
    z-index: 1;
}

.epi-txt {
    position: absolute;
    right: 0px;
    top: 28.5rem;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
}

.epi-txt-tit {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #52966e;
}

.epi-txt-box {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 2.2rem;
    color: #717171;
    padding-top: 2.5rem;
}

.epi-bt {
    position: absolute;
    right: 9rem;
    top: 55.5rem;
    display: block;
    width: 29rem;
    height: 4.9rem;
    font-size: 0rem;
    border: none;
    background: url('../images/portfolio_download.png') no-repeat center;
    cursor: pointer;
}

.epi-bt:hover {
    background: url('../images/portfolio_download_2.png') no-repeat center;
}