@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    background-color: #fffbf7;
}

/* 공통 클래스 */
.container {
    position: relative;
    display: block;
    width: 128rem;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

/* 상단 영역 */
.header {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 14%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 999;
}

.header .container {
    height: 100%;
}

.logo {
    position: absolute;
    left: -18rem;
    top: 0;
    display: block;
    width: 8.5rem;
    height: 8.5rem;
    background: url('../images/logo.png') no-repeat center;
    font-size: 0;
    padding-right: 2.8rem;
}

/* Visual */
.visual {
    position: relative;
    display: block;
    height: 97rem;
    background: url('../images/visual_background.jpg') no-repeat center;
    background-size: cover;
}

.visual-img {
    position: absolute;
    left: 28.5rem;
    top: 17.6rem;
}

.visual-img-2 {
    margin-left: -7.3rem;
    margin-bottom: 14rem;
}

.gnb {
    position: relative;
    display: block;
}

.depth1 {
    position: absolute;
    right: -16.5rem;
    top: 48.2rem;
    display: block;
}

.depth1>li {
    position: relative;
    display: block;
}

.depth1>li>a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
}

.depth1>li>a:hover {
    color: #faad58;
}

.depth1>li::before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 20.8rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url('../images/menu_icon1.png') no-repeat center;
}

.depth1>li:hover::before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 20.8rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url('../images/menu_icon2.png') no-repeat center;
}

.scrolldown {
    position: absolute;
    right: -7.7rem;
    top: 85.3rem;
    display: block;
    width: 4.4rem;
    height: 6.5rem;
    background: url('../images/scrolldown.png') no-repeat center;
    border: 0;
}

/* About Me */
.profile {
    position: relative;
    display: block;
    background: url('../images/background_shadow.png') no-repeat;
}

.profile-tit {
    position: relative;
    display: block;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 7rem;
    letter-spacing: 0.2rem;
    color: #717171;
    padding: 8rem 0rem;
}

.profile-tit::before {
    content: '';
    position: absolute;
    left: -21rem;
    top: 11.5rem;
    width: 20.6rem;
    height: 0.3rem;
    background: #f9a647;
}

.slogan {}

/* Publishing */
.publishing {}

/* Redesign */
.redesign {}

/* Etc. */
.etc {}

/* Epilogue */
.epilogue {}